@page
@{
    ViewData["Title"] = "Åtkomst nekad";
}

<h1>Åtkomst nekad</h1>
<p>Du saknar behörighet att visa den här sidan.</p>

<p>
    <a asp-controller="Home" asp-action="Index">Till startsidan</a>
</p>
