@model Inredningsbutik.Web.Areas.Admin.ViewModels.ProductFormViewModel

@{
    ViewData["Title"] = "Ändra produkt";
}

<h1>Ändra produkt</h1>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description" rows="3"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Price"></label>
        <input class="form-control" asp-for="Price" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="ImageUrl"></label>
        <input class="form-control" asp-for="ImageUrl" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="CategoryId">Kategori</label>
        <select class="form-select" asp-for="CategoryId" asp-items="Model.Categories"></select>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="StockQuantity"></label>
        <input class="form-control" asp-for="StockQuantity" />
    </div>

    <div class="mb-3">
    <label asp-for="HoverImageUrl" class="form-label"></label>
    <input asp-for="HoverImageUrl" class="form-control" />
    <span asp-validation-for="HoverImageUrl" class="text-danger"></span>
</div>

    <button class="btn btn-primary" type="submit">Spara</button>
    <a class="btn btn-secondary" asp-action="Index">Avbryt</a>
</form>
